.containerBody{
    background-color: var(--color-white);
    width: 100%;
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.containerForm{
    background-color: var( --color-info-table);
    width: 100%;
    margin: 1% 5%;
    border-radius: 5px;
    height: fit-content;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.containerRol{
    margin: 2% 5%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: self-start;
}

.containerSA{
    display:flex;
    flex-direction: row;
    width: 40%;
    align-items: center;
}

.containerAdd{
    width: 20%;
}

.containerSelect{
    width: 80%;
}

.containerInput{
    width: 35%;
}

.errorMsg{
    color: red;
    font-size: 0.7rem;
    text-align: left;
}

.containerPermisos{
    border-top: 2px solid var(--color-white);
    margin: 0% 5%;
    padding-top: 2%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.containerCheckBox{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: left;
    margin: 0% 10%;
}

.containerMsg{
    padding: 5%;
    color: var(--color-other-grey);
    width: 100%;
}

.containerButton{
    margin: 2% 5%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


