.containerBody{
    align-content: center;
    background-color: var(--color-white);
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0%;
    top:25%;
}

.containerDatos{
    border-radius: 5px;
    background-color: var(--bg-color-light-blue);
    width: 100%;
    margin: 1.5%;
    padding: 1%;
    text-align: center;
    color: white;
    
}

.containerTitle{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0% 1.5%;

}

