
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* MUI configuracion :) */
/* config TextField */
  .MuiTextField-root{
    background-color: #b5b6ba;
    border:none;
  }

/*Config FilledInput*/
  .MuiFilledInput-root{
    background-color: var(--color-light-gray);
    width: 100%;
  }

  /*Config Select*/
  .MuiSelect-select{
    height: fit-content; 
    background-color: var(--color-light-gray); 
    text-transform: capitalize;  
  }

  .MuiMenuItem-root{
    text-transform: capitalize; 
  }


/*Config de la appbar*/
  .MuiAppBar-root{
    background-color:var(--bg-color-dark-blue);
    border-bottom: 2px solid;
  }
  
  /*Config Botones*/
  .MuiButton-root{
    height: fit-content;
  }

  .MuiButton-root:hover{
    height: fit-content;
  }

  /*Config Typography*/
  .MuiTypography-root{
    font-family: 'Lato', sans-serif;
  }
  
  /*Config Tables*/
  .MuiTable-root{
    background-color: var(--bg-color-lb-table);
    border-radius: 5px;
  }

  .MuiTableCell-root{
    border: 1px solid var(--color-lv-table);
    text-align: center;
    border-radius: 5px;
  }

  /*Config ListItemText*/
  .MuiListItemText-root{
    font-size: larger;
  }



