
/* MUI configuracion :) */

/*Config FilledInput*/
  .MuiFilledInput-root{
    background-color: var(--color-light-gray);
    margin-bottom: 20px;
    width: 100%;
  }
  
/*Config de la appbar*/
  .MuiAppBar-root{
    background-color:var(--bg-color-dark-blue);
    border-bottom: 2px solid;
  }
  
  /*Config Botones .l. */
  .MuiButton-root{
    color: var(--color-white);
    background-color: var(--bg-color-other-blue);
    height: fit-content;
  }

  .MuiButton-root:hover{
    background-color: var(--bg-color-old-blue);
    height: fit-content;
  }

  
