.containerBody{
    background-color: var(--color-white);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0%;
    top:25%;
}

.datosrec{
    border-left: 0.5px solid var(--color-grey);
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.containerLeft{
    width:30%;
    padding: 1rem;
}

.fila{
    border: 3px solid var(--color-lv-table);
}

.modalButton{
    width: 100%;
    text-align-last: center;
    margin-top: 3%;
}

.link:hover{
    color:blue;
    cursor: pointer;
    text-decoration: underline;
}